html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.overlay-gui {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  /* Ensure it's above the canvas */
}

/* If your canvas or a div wrapping the canvas doesn't already have positioning */
.canvas-container {
  position: relative;
  /* This creates a positioning context for absolute children */
  width: 100%;
  /* Ensure it spans the desired area */
  height: 100%;
}

.draftEditor-root {
  min-height: 100px; /* Ensure it has a minimum height */
  width: 100%; /* Adjust width as needed */
}
